@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f9f5f2;
    --foreground: #8b5e3c;
    --card: #ffffff;
    --card-foreground: #252525;
    --popover: #ffffff;
    --popover-foreground: #252525;
    --primary: #030213;
    --primary-foreground: #ffffff;
    --secondary: #f2f2f3;
    --secondary-foreground: #030213;
    --muted: #ececf0;
    --muted-foreground: #717182;
    --accent: #e9ebef;
    --accent-foreground: #030213;
    --destructive: #d4183d;
    --destructive-foreground: #ffffff;
    --border: rgba(0, 0, 0, 0.1);
    --input: transparent;
    --input-background: #f3f3f5;
    --ring: #b5b5b5;
    --radius: 0.625rem;
  }

  .dark {
    --background: #252525;
    --foreground: #f9f5f2;
    --card: #252525;
    --card-foreground: #f9f5f2;
    --popover: #252525;
    --popover-foreground: #f9f5f2;
    --primary: #f9f5f2;
    --primary-foreground: #030213;
    --secondary: #454545;
    --secondary-foreground: #f9f5f2;
    --muted: #454545;
    --muted-foreground: #b5b5b5;
    --accent: #454545;
    --accent-foreground: #f9f5f2;
    --destructive: #d4183d;
    --destructive-foreground: #ffffff;
    --border: #454545;
    --input: #454545;
    --ring: #707070;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
